
/*
 * COLORS
 */
red = #f50606
yellow = #ffc000
blue = #5883ba
gray = #7b7b7b

/* Text color */
tc = #161616 

/*
 * FONTS
 */

/* Heading font */
hf = 'Times New Roman', serif

/* Default font */
df = 'Arial', sans-serif

/* Alternate font */
af = df

/*
 * GEOMETRY
 */

/* Page max-width */
pmax = 1920px

/* Page min-width */
pmin = 1000px
page_width = pmin 
